html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.container{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: white;
  
}

button{
    background-color: rgb(110, 110, 162);
    height: 40px;
    width: 100px;
    color: white;
}

.actions{
    align-self: stretch;
    justify-content: space-evenly;
    display: flex;
}